<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>List of all Pokemon</h1>
    <nav>
        <a href="/pokemon/new">Create a New Pokemon</a>
    </nav>
    <ul>
        <% for (let i = 0; i < Monsters.length; i++){ %>

            <a href="/pokemon/<%= i %>"><img src="<%= Monsters[i].img %>"/></a>
            <h3><%= Monsters[i].name %></h3>
        <% } %>
       
    </ul>
   
    
</body>
</html>