* {
    background-color: grey;
    display: grid;
    margin: 0 auto; 
}

.all {
    color: purple;
}

.outerBox {
    border-radius: 20px;
}

.newForm {
    background-color: whitesmoke;
    border-radius: 10px;
}

.showDiv {
    color: purple;
}

.showStats {
    color: purple;
}

.form {
    background-color: whitesmoke;
}

.title {
    color: purple;
}
